* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: #000;
	text-decoration: none;
	font-weight: 600;
}

body {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	background-color: antiquewhite;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
	font-size: 18px;
	color: #000;
}

.header > div > ul {
	display: flex;
	gap: 20px;
	list-style: none;
}

.nav-bar {
	border: 2px solid brown;
	padding: 23px;
	border-radius: 15% 0% 15% 0%;
}

.nav-list {
	display: flex;
	gap: 20px;
	list-style: none;
}

.nav-item {
	transition: 0.1s;
}

.nav-item:hover {
	color: red;
}

.logo-wrapper {
	max-width: 50px;
}

.logo-img {
	width: 150px;
}

.list-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.title {
	color: red;
	margin-bottom: 50px;
}

.wrapper-image {
	height: 400px;
}

.products-list {
	display: flex;
	justify-content: center;
	gap: 50px;
	list-style: none;
	width: 58%;
	flex-wrap: wrap;
}

.product-image {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 20px;
}

.products-item {
	padding: 20px;
	max-width: 300px;
	border: 2px solid black;
	border-radius: 20px;
	background-color: navajowhite;
}

.product-item {
	max-width: 800px;
	padding: 20px;
	border-radius: 20px;
	border: 2px solid black;
}

.change-button {
	margin-top: 20px;
	border: 1px solid black;
	padding: 10px 20px;
	border-radius: 5px;
	background: bisque;
}

.change-button:hover {
	background: khaki;
}

.product-title {
	font-size: 20px;
	margin: 20px 0 20px 0;
	color: brown;
}

.product-price {
	margin-bottom: 20px;
}
/* Поиск */

.theme-popup {
	/* total */
	--total_text_color: #e0e0e0;
	--total_font_family: Menlo, Roboto Mono, monospace;
	/* button */
	--btn_bg: #3a3a3a;
	--btn_padding: 0.5em;
	--btn_height: 2em;
	--btn_border_radius: 0.3125em;
	--btn_outline_width: 0.0625em;
	--btn_outline_color: #a0a0a0;
	--btn_outline_offset: 0.0625em;
	--btn_gap: 0.3125em;
	/* list */
	--list_padding: 0.5em;
	--list_bg: var(--btn_bg);
	--list_border_radius: var(--btn_border_radius);
	--list_gap: 0.1875em;
	--list_btn_hover_bg: #5a5656;
	--list_btn_active: #b9b9b970;
	--list_btn_border_radius: 0.25em;
	--list_btn_padding: 0.35em 1em;
	--list_btn_gap: 0.4375em;
	--list_btn_outline_width: 0.0625em;
	--list_btn_outline_color: rgb(212, 210, 210);
	--list_offset: 0.35em;
	--list_btn_font_size: 14px;
	--list_position_left: 0;
	--list_position_right: unset;
	/* 👆 if you want to change sides just switch one property */
	/* from properties to "unset" and the other to 0 */
}

.theme-popup__button .theme-popup__icons svg,
#light,
#dark,
#default,
#checkbox,
.theme-popup__list-container {
	display: none;
}

.theme-popup {
	color: var(--total_text_color);
	font-family: var(--total_font_family);
	position: relative;
	user-select: none;
}

.theme-popup__list-container {
	position: absolute;
	left: var(--list_position_left);
	right: var(--list_position_right);
	top: calc(var(--btn_height) + var(--list_offset));
}

.theme-popup__icons {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	height: 16px;
}

.theme-popup__button {
	line-height: var(--btn_height);
	background-color: var(--btn_bg);
	padding: 0 var(--btn_padding);
	display: inline-flex;
	align-items: center;
	column-gap: var(--btn_gap);
	border-radius: var(--btn_border_radius);
	border: none;
	color: inherit;
	font-family: inherit;
	outline: none;
	font-weight: bold;
}

.theme-popup__list {
	margin: 0;
	list-style-type: none;
	padding: var(--list_padding);
	border-radius: var(--list_border_radius);
	background-color: var(--list_bg);
	display: flex;
	flex-direction: column;
	row-gap: var(--list_gap);
}

.theme-popup__list label {
	display: flex;
	align-items: center;
	justify-content: start;
	column-gap: var(--list_btn_gap);
	padding: var(--list_btn_padding);
	border-radius: var(--list_btn_border_radius);
	white-space: nowrap;
}

.theme-popup__list label span {
	font-size: var(--list_btn_font_size);
}

/* actions */

#checkbox:checked ~ .theme-popup__button {
	outline: var(--btn_outline_width) solid var(--btn_outline_color);
	outline-offset: var(--btn_outline_offset);
}

#checkbox:checked ~ .theme-popup__list-container {
	display: block;
}

.theme-popup__list label:hover,
.theme-popup__button:hover,
#checkbox:checked ~ .theme-popup__button {
	background-color: var(--list_btn_hover_bg);
}

#default:checked ~ .theme-popup__list-container label[for="default"],
#light:checked ~ .theme-popup__list-container label[for="light"],
#dark:checked ~ .theme-popup__list-container label[for="dark"] {
	background-color: var(--list_btn_active);
	outline: var(--list_btn_outline_width) solid var(--list_btn_outline_color);
}

#default:checked ~ label svg.default,
#light:checked ~ label svg.sun,
#dark:checked ~ label svg.moon {
	display: block;
}

/* Конец поиска */

/* from add_product */

.form-add-product {
	background-color: azure;
	padding: 30px;
	width: 500px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form__group {
	position: relative;
	padding: 20px 0 0;
	width: 100%;
}

.form__field {
	font-family: inherit;
	width: 100%;
	border: none;
	border-bottom: 2px solid #9b9b9b;
	outline: 0;
	font-size: 17px;
	color: #38caef;
	padding: 10px 0;
	background: transparent;
	transition: border-color 0.2s;
}

.form__field::placeholder {
	color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
	font-size: 17px;
	cursor: text;
	top: 20px;
}

.form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 17px;
	color: #116399;
	pointer-events: none;
}

.form__field:focus {
	padding-bottom: 6px;
	font-weight: 700;
	border-width: 3px;
	border-image: linear-gradient(to right, #116399, #38caef);
	border-image-slice: 1;
}

.form__field:focus ~ .form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 17px;
	color: #38caef;
	font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
	box-shadow: none;
}

/* end from add_product */

/* button form */

button-add-product {
	position: relative;
	padding: 10px 20px;
	border-radius: 7px;
	border: 1px solid rgb(61, 106, 255);
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	background-color: cornflowerblue;
	color: #fff;
	overflow: hidden;
	box-shadow: 0 0 0 0 transparent;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

button-add-product:hover {
	background: rgb(61, 106, 255);
	box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

button-add-product:hover::before {
	-webkit-animation: sh02 0.5s 0s linear;
	-moz-animation: sh02 0.5s 0s linear;
	animation: sh02 0.5s 0s linear;
}

button-add-product::before {
	content: "";
	display: block;
	width: 0px;
	height: 86%;
	position: absolute;
	top: 7%;
	left: 0%;
	opacity: 0;
	background: #fff;
	box-shadow: 0 0 50px 30px #fff;
	-webkit-transform: skewX(-20deg);
	-moz-transform: skewX(-20deg);
	-ms-transform: skewX(-20deg);
	-o-transform: skewX(-20deg);
	transform: skewX(-20deg);
}

@keyframes sh02 {
	from {
		opacity: 0;
		left: 0%;
	}

	50% {
		opacity: 1;
	}

	to {
		opacity: 0;
		left: 100%;
	}
}

button-add-product:active {
	box-shadow: 0 0 0 0 transparent;
	-webkit-transition: box-shadow 0.2s ease-in;
	-moz-transition: box-shadow 0.2s ease-in;
	transition: box-shadow 0.2s ease-in;
}

/* end button form */
