* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: #000;
	text-decoration: none;
	font-weight: 600;
}

body {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	background-color: antiquewhite;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
	font-size: 18px;
	color: #000;
}

.header > div > ul {
	display: flex;
	gap: 20px;
	list-style: none;
}

.nav-bar {
	border: 2px solid brown;
	padding: 23px;
	border-radius: 15% 0% 15% 0%;
}

.nav-list {
	display: flex;
	gap: 20px;
	list-style: none;
}

.nav-item {
	transition: 0.1s;
}

.nav-item:hover {
	color: red;
}

.logo-wrapper {
	max-width: 50px;
}

.logo-img {
	width: 150px;
}

.list-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.title {
	color: red;
	margin-bottom: 50px;
}

.wrapper-image {
	height: 400px;
}

.products-list {
	display: flex;
	justify-content: center;
	gap: 50px;
	list-style: none;
	width: 58%;
	flex-wrap: wrap;
}

.product-image {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 20px;
}

.products-item {
	padding: 20px;
	max-width: 300px;
	border: 2px solid black;
	border-radius: 20px;
	background-color: navajowhite;
}

.product-title {
	font-size: 20px;
	margin: 20px 0 20px 0;
	color: brown;
}

.product-price {
	margin-bottom: 20px;
}
/* Поиск */

.theme-popup {
	/* total */
	--total_text_color: #e0e0e0;
	--total_font_family: Menlo, Roboto Mono, monospace;
	/* button */
	--btn_bg: #3a3a3a;
	--btn_padding: 0.5em;
	--btn_height: 2em;
	--btn_border_radius: 0.3125em;
	--btn_outline_width: 0.0625em;
	--btn_outline_color: #a0a0a0;
	--btn_outline_offset: 0.0625em;
	--btn_gap: 0.3125em;
	/* list */
	--list_padding: 0.5em;
	--list_bg: var(--btn_bg);
	--list_border_radius: var(--btn_border_radius);
	--list_gap: 0.1875em;
	--list_btn_hover_bg: #5a5656;
	--list_btn_active: #b9b9b970;
	--list_btn_border_radius: 0.25em;
	--list_btn_padding: 0.35em 1em;
	--list_btn_gap: 0.4375em;
	--list_btn_outline_width: 0.0625em;
	--list_btn_outline_color: rgb(212, 210, 210);
	--list_offset: 0.35em;
	--list_btn_font_size: 14px;
	--list_position_left: 0;
	--list_position_right: unset;
	/* 👆 if you want to change sides just switch one property */
	/* from properties to "unset" and the other to 0 */
}

.theme-popup__button .theme-popup__icons svg,
#light,
#dark,
#default,
#checkbox,
.theme-popup__list-container {
	display: none;
}

.theme-popup {
	color: var(--total_text_color);
	font-family: var(--total_font_family);
	position: relative;
	user-select: none;
}

.theme-popup__list-container {
	position: absolute;
	left: var(--list_position_left);
	right: var(--list_position_right);
	top: calc(var(--btn_height) + var(--list_offset));
}

.theme-popup__icons {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	height: 16px;
}

.theme-popup__button {
	line-height: var(--btn_height);
	background-color: var(--btn_bg);
	padding: 0 var(--btn_padding);
	display: inline-flex;
	align-items: center;
	column-gap: var(--btn_gap);
	border-radius: var(--btn_border_radius);
	border: none;
	color: inherit;
	font-family: inherit;
	outline: none;
	font-weight: bold;
}

.theme-popup__list {
	margin: 0;
	list-style-type: none;
	padding: var(--list_padding);
	border-radius: var(--list_border_radius);
	background-color: var(--list_bg);
	display: flex;
	flex-direction: column;
	row-gap: var(--list_gap);
}

.theme-popup__list label {
	display: flex;
	align-items: center;
	justify-content: start;
	column-gap: var(--list_btn_gap);
	padding: var(--list_btn_padding);
	border-radius: var(--list_btn_border_radius);
	white-space: nowrap;
}

.theme-popup__list label span {
	font-size: var(--list_btn_font_size);
}

/* actions */

#checkbox:checked ~ .theme-popup__button {
	outline: var(--btn_outline_width) solid var(--btn_outline_color);
	outline-offset: var(--btn_outline_offset);
}

#checkbox:checked ~ .theme-popup__list-container {
	display: block;
}

.theme-popup__list label:hover,
.theme-popup__button:hover,
#checkbox:checked ~ .theme-popup__button {
	background-color: var(--list_btn_hover_bg);
}

#default:checked ~ .theme-popup__list-container label[for="default"],
#light:checked ~ .theme-popup__list-container label[for="light"],
#dark:checked ~ .theme-popup__list-container label[for="dark"] {
	background-color: var(--list_btn_active);
	outline: var(--list_btn_outline_width) solid var(--list_btn_outline_color);
}

#default:checked ~ label svg.default,
#light:checked ~ label svg.sun,
#dark:checked ~ label svg.moon {
	display: block;
}

/* Конец поиска */

.search-form {
	position: relative;
	width: 300px;
	margin: 0 auto;
}
.form-wrapper {
	background: #a3d0c3;
	margin-bottom: 20px;
}
.form-wrapper input {
	width: 100%;
	height: 42px;
	padding-left: 10px;
	border: 2px solid #7ba7ab;
	border-radius: 5px;
	outline: none;
	background: #f9f0da;
	color: #9e9c9c;
}
.form-wrapper button {
	position: absolute;
	top: 0;
	right: 0px;
	width: 42px;
	height: 42px;
	border: none;
	background: #7ba7ab;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
}
.form-wrapper button:before {
	content: "\f002";
	font-family: FontAwesome;
	font-size: 16px;
	color: #f9f0da;
}
