{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static "myapp/css/style.css" %}">
	<title>Home Page</title>
</head>
<body>
	<div class="wrapper">
	<header class="header">
		<div class="logo-wrapper">
			<a href="{% url "myapp:home" %}">
				<img class="logo-img" src="{% static "myapp/images/logo.svg" %}" alt="logo">
			</a>
		</div>

		<div class="theme-popup">
			<input type="radio" name="theme" id="default" checked="">
			<input type="radio" name="theme" id="light">
			<input type="radio" name="theme" id="dark">
			<input type="checkbox" id="checkbox">
			<label for="checkbox" class="theme-popup__button">
			Все категории
			</label>
			<div class="theme-popup__list-container">

				<ul class="theme-popup__list">
					{% for category in categories %}
					<li>
						<a class="nav-item" href="{{ category.get_absolute_url }}">
							{{ category.title }}
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		{% comment %} <nav class="nav-bar">
			<ul class="nav-list">
				{% for category in categories %}
				<li>
					<a class="nav-item" href="{{ category.get_absolute_url }}">
						{{ category.title }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</nav> {% endcomment %}
		
		<div class="form-wrapper" method="get">
			<form action="{% url "myapp:search" %}" class="search-form">
				<input type="search" name="search" placeholder="Искать здесь...">
				<button type="submit"></button>
			</form>
		</div>

		<div>
			<ul>
				<li>
					<a class="nav-item" href="#">
						Войти
					</a>
				</li>
				<li>
					<a class="nav-item" href="#">
						Корзина
					</a>
				</li>
			</ul>
		</div>
	</header>
</div>
<div class="list-wrapper">
	{% block content-list %}{% endblock %}
	{% block content %}{% endblock %}
</div>
</body>
</html>