{% extends "base.html" %}

{% block content-list %}
<div class="product-item">
	{% if item.image %}
	<div class="wrapper-image">
		<img class="product-image" src="{{ item.image.url }}" alt="iphone 14 pro max">
	</div>
	{% endif %}
	<a href="{{ item.get_absolute_url }}">
		<h2 class="product-title">{{ item.title }}</h2>
	</a>
	<p class="product-price"><b>{{ item.price }}</b> $</p>
	<p class="product-desc">{{ item.description }}</p>
	<div class="buttons-wrapper">
		<form action="{% url 'myapp:updatePage' item.slug %}" method="post">
			{% csrf_token %}
			<input class="change-button" type="submit" value="Изменить">
		</form>
		<form action="{% url 'myapp:deletePage' item.slug %}" method="post">
			{% csrf_token %}
			<input class="change-button" type="submit" value="Удалить"/>
		</form>
	</div>
</div>
{% endblock  %}