{% extends "base.html" %}

{% block content-list %}
<div class="product-item">
	{% if item.image %}
	<div class="wrapper-image">
		<img class="product-image" src="{{ item.image.url }}" alt="iphone 14 pro max">
	</div>
	{% endif %}
	<a href="{{ item.get_absolute_url }}">
		<h2 class="product-title">{{ item.title }}</h2>
	</a>
	<p class="product-price"><b>{{ item.price }}</b> $</p>
	<p class="product-desc">{{ item.description }}</p>
	<a href="{% url "myapp:updatePage" item.slug %}">
		<button class="change-button" type="button">Изменить</button>
	</a>
</div>
{% endblock  %}